.mobile-nav {
    position: fixed;
    display: block;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 60px 20px 72px 13px;
    background-color: rgb(17, 17, 17);
  
    @media only screen and (min-width: 1256px) {
        display: none;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 25px;
    color: #6f7679;
    font-size: 18px;
}

.divider {
    display: block;
    border-bottom: 1px solid gray;
}

.no-dropdown {
    display: block;
    padding: 12px 0;
    color: #6f7679;
    font-size: 24px;
}

